<!DOCTYPE html>
<html lang="en">

<ul1>
    <li><a href = "/">Login</a></li>
    <li><a href = "/home">Home</a></li>
    <li><a href = "/about">About Us</a></li>
    <li><a href = "/movie">Featured Films</a></li>
    <li><a href = "/wildcard">Featured Wildcard Films</a></li>
    <li><a href = "/wildlife">Featured Wildlife Films</a></li>
</ul1>

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <img class = "tiger_logo" src ='../static/tigerface.jpg'/>
    <h1>About Us</h1>
    <p>We are a film reviewing site. Every month we highlight a new documentry film.</p>
    <h2>What do we do?</h2>
    <p>On a small scale, we review documentary films featured on the popular streaming applications such as
        Netflix and Hulu. We write reviews so that you can find something interesting to watch. Our ratings
        are purely opinion-based. As avid film viewers, we offer our purely opinionated ratings.</p>

    <img class = "about_image" src ='../static/wildcardpic.jpg'/>

    <h3>Happy purusing!</h3>
</body>
</html>