<!DOCTYPE html>
<html lang="en">

<ul1>
    <li><a href = "/">Login</a></li>
    <li><a href = "/home">Home</a></li>
    <li><a href = "/about">About Us</a></li>
    <li><a href = "/movie">Featured Films</a></li>
    <li><a href = "/wildcard">Featured Wildcard Films</a></li>
    <li><a href = "/wildlife">Featured Wildlife Films</a></li>
</ul1>

<head>
    <meta charset="UTF-8">
    <title>Featured Films</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <img class = "tiger_logo" src ='../static/tigerface.jpg'/>
    <h1> Featured Films </h1>
    <p>There are TONS of documentaries out there to watch and so little time. Which films are the most worthwhile?</p>
    <h2>Featured List of Netflix Films</h2>
    <ul>
        <li>Ugly Delicious</li>
        <li>Five Came Back</li>
        <li>The Great Hack</li>
        <li>American Factory</li>
        <li>Tiger King: Murder, Mayhem and Madness</li>
        <li>The Speed Cubers</li>
        <li>The Last Dance</li>
        <li>High Score</li>
    </ul>
    <h2>Featured List of Hulu Films</h2>
    <ul>
        <li>Framing Britney Spears</li>
        <li>Too Funny to Fail</li>
        <li>Apollo 11</li>
        <li>Fyre Fraud</li>
        <li>Jane</li>
        <li>Three Identical Strangers</li>
        <li>Dior and I</li>
    </ul>

</body>
</html>